<h1>Password Change</h1>

<div>
<%= form_with url: session_path do |form| %>
  <div>
    <%= form.label :current_password%>
    <%= form.text_field :current_password%>
  </div>
  <div>
    <%= form.label :new_password %>
    <%= form.password_field :new_password %>
  </div>
   <div>
    <%= form.label :new_password_confirmation %>
    <%= form.password_field :new_password_confirmation %>
  </div>
  <%= form.submit "Update Password" %>
<% end %>
</div>