<div class="row">
  <% @posts.each do |post| %>
  <div id="<%= dom_id post %>" class="col-md-12 col-lg-6 col-xl-4 mb-3">
    <%= link_to post, class:"card-link" do %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-primary ellipsis-2"><%= post.title %></h5>
          <p class="card-text ellipsis-1"><%= post.body %></p>
          <div class="text-end">
            <span class="badge bg-light text-muted">
              <%= time_tag post.created_at, "data-local":"time-or-date" %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
